<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thieves Den @ About</title>
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    
    <main>
        <section class="main">
            <a href="https://www.youtube.com/watch?v=U2Qd9TRY1Ro" target="_blank"><img src="../../assets/img/banner.webp" alt="Banner"></a>
            

            <h1>Hi, I'm Anthony &#128187;</h1>
            <p>Name's Antonio Campello. I'm an IT student with a passion for web and desktop technologies, currently studying Systems Analysis and Development with a focus on web development and coding. In my free time, I enjoy playing video games (I love souls games btw), which sparks my creativity. My goal here is to create a simple website with the old internet/forum aesthetics. </p>

            <footer clas>Return to the <a href="../../index.html">Den</a></footer>
            
        </section>
    </main>

</body>
</html>