<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Den @ Socials</title>
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    
    <main>
        <section class="main">
            <a href="https://www.youtube.com/watch?v=U2Qd9TRY1Ro" target="_blank"><img src="../../assets/img/banner.webp" alt="Banner"></a>
            
            <h1>My socials</h1>

            <div class="links">
                <a href="https://www.instagram.com/_toninn/" target="_blank"><i class="fa-brands fa-instagram"></i> <span>Instagram</span></a>
                <a href="https://br.linkedin.com/in/antonio-campello-07b30b232" target="_blank"><i class="fa-brands fa-linkedin"></i> <span>LinkedIn</span></a>
                <a href="https://github.com/antoniocampello" target="_blank"><i class="fa-brands fa-github-alt"></i> <span>GitHub</span></a>
                <a href="https://backloggd.com/u/ToninN/" target="_blank"><i class="fa-solid fa-gamepad"></i> <span>Backloggd</span></a>
            </div>

            <footer clas>Return to the <a href="../../index.html">Den</a></footer>
            
        </section>
    </main>

    <script src="https://kit.fontawesome.com/e321774b48.js" crossorigin="anonymous"></script>
</body>
</html>