@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --background-color: #010016;
    --text-color: #969696;
    --purple: #7c3a7c;
    --purple2: #442784;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
}


body,html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px 40px 0px;
}


.main {
    max-width: 1000px;
}

.main img {
    cursor: help;
    max-width: 80%;
    border: 2px solid var(--purple);
}

.main h1 {
    margin-top: 40px;
}

.main p {
    margin: 40px 20px 0px 20px;
    text-align: left;
}

.main footer {
    margin: 40px 0px;
    text-align: center;
}

.main footer a {
    text-decoration: none;
    color: var(--purple2);
}

.main footer a:hover {
    text-decoration: underline;
}

/* Socials page */
.links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a {
    color: var(--purple);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--purple);
    margin: 0px 20px;
    padding: 5px;
    border-radius: 10px;
}

.links a:hover {
    background-color: var(--purple);
    color: var(--background-color);   
    transition: 0.3s;
}

.links a span {
    width: 50%;
}

.links a span:hover {
    text-decoration: underline;
}